################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo Plugin/.vs/NppPluginITSUtils/FileContentIndex/b74952bd-ec19-4366-ab28-2bdd1698343d.vsidx
/Demo Plugin/.vs/NppPluginITSUtils/FileContentIndex/c826fcef-867c-4387-be7a-c8a60e473608.vsidx
/Demo Plugin/.vs/NppPluginITSUtils/FileContentIndex/21a74db9-0ea0-4c1b-8011-6f977bc3fe9f.vsidx
