################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo Plugin/.vs/NppPluginITSUtils/FileContentIndex/b74952bd-ec19-4366-ab28-2bdd1698343d.vsidx
